<!-- Event Section -->
<div class="col-md-8 col-sm-9 mx-auto">
    <div class="col-md-12 text-center story-title mt-5 pt-5">
        WE EVENTS
    </div>
    <div class="separator my-3"></div>
    <div class="video-container mt-5">
        <iframe width="100%" height="400" src="https://www.youtube.com/embed/uWR1jkmWUfk" title="YouTube video"
            frameborder="0" allowfullscreen>
        </iframe>
    </div>
    <h5 class="text-center fw-bold mt-5">3RD EDITION</h5>
    <h2 class="text-center">WE Conention</h2>
    <h6 class="text-muted text-center">WOMEN’S EMPOWERMENT CONVENTION</h6>
    <h6 class="text-center fw-bold mt-4">NOVEMBER 1–2, 2025</h6>
    <h6 class="text-center fw-bold">Atlantis The Royal, Dubai</h6>
    <h6 class="text-center fw-bold mb-5">THE WORLD'S LARGEST FORUM FOR WOMEN LEADERS</h6>
    <p class="my-3 text-center">
        WE Convention is the world's largest and most influential women’s forum, bringing together global icons,
        industry leaders, and rising changemakers to shape the future. With over 300 million media mentions, WE
        Convention is one of the most prominent voices in the space of women’s leadership, entrepreneurship, and
        success.
    </p>
    <p class="text-center">
        In 2025, WE Convention will be dedicated to the theme: ALL IN: CAREER, MONEY, and LIFE.
        How do you reach exceptional career success, achieve financial independence, and still lead a fulfilling life
        beyond work? On the WE Convention stage, we bring the world’s most powerful women to share their journeys,
        insights, and strategies — so you can go all in on your ambitions without compromise. This is more than a
        conference. This is a movement.
    </p>
    <div class="d-flex align-items-center justify-content-center mt-4 mb-5">
        <button class="rounded-0 btn btn-primary px-4 py-3 fw-semibold" [routerLink]="['/routePath']">PRE-REGISTER ONLINE</button>
        <button class="rounded-0 btn btn-outline-primary px-4 py-3 fw-semibold ms-3" [routerLink]="['/routePath']">ONLINE STREAM</button>
    </div>
</div>
<div class="col-md-12">
    <div class="row col-md-12 px-0 mx-0">
        <div class="col-lg-4 p-0 m-0 col-md-12">
            <img src="https://wecouncil.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fgrid-photo1.ecad426a.jpg&w=960&q=75"
                class="img-fluid">
        </div>
        <div class="col-lg-4 p-0 m-0 col-md-12">
            <img src="https://wecouncil.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fgrid-photo2.906c7483.jpg&w=960&q=75"
                class="img-fluid">
        </div>
        <div class="col-lg-4 p-0 m-0 col-md-12">
            <img src="https://wecouncil.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fgrid-photo3.9a5e0708.jpg&w=960&q=75"
                class="img-fluid">
        </div>
        <div class="col-lg-4 p-0 m-0 col-md-12">
            <img src="https://wecouncil.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fgrid-photo4.c76572c3.jpg&w=960&q=75"
                class="img-fluid">
        </div>
        <div class="col-lg-4 p-0 m-0 col-md-12">
            <img src="https://wecouncil.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fgrid-photo5.3bf6b8b2.jpg&w=960&q=75"
                class="img-fluid">
        </div>
        <div class="col-lg-4 p-0 m-0 col-md-12">
            <img src="https://wecouncil.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fgrid-photo6.6c6b6c61.jpg&w=960&q=75"
                class="img-fluid">
        </div>
    </div>
    <div class="d-flex align-items-center flex-column justify-content-evenly upcoming-event col-md-12">
        <span class="text-white fw-bold fs-4">UPCOMING EVENTS</span>
        <button [routerLink]="['/routePath']" class="rounded-0 btn btn-light px-5 py-3">CALENDAR</button>
    </div>
</div>