<!-- Events Section -->
<div class="container py-5">
  <div class="text-center story-title mb-3 fs-1 fs-md-2">THE ICONIC EVENTS</div>
  <div class="separator my-3 mx-auto"></div>
  <div class="video-container mb-4">
    <video width="100%" controls>
      <source src="assets/events/event_video.mp4" type="video/mp4">
    </video>
  </div>
  <p class="text-center px-2 px-md-5 fs-7 fs-md-6">The world's most exclusive and influential leadership forum, bringing
    together global icons, industry titans, and visionary leaders to redefine what it means to lead in the 21st century
    on AI & Well - Being. </p>
  <p class="text-center px-2 px-md-5 fs-7 fs-md-6">The Iconic is the most prominent voice in the space of strategic
    leadership, innovation, and global impact.</p>
  <p class="text-center px-2 px-md-5 fs-7 fs-md-6">In 2025, the Iconic has dedicated to the theme: THE ICONIC LEADER:
    LEGACY, INFLUENCE, AND IMPACT.</p>
  <p class="text-center px-2 px-md-5 fs-7 fs-md-6">How do you build a lasting legacy, wield profound influence, and
    drive a global impact that transcends generations? On the Iconic stage, we bring the world’s most powerful and
    iconic leaders to share their blueprints for success, their strategic insights, and their defining moments—so you
    can go all in on your vision without compromise.</p>
  <p class="text-center px-2 px-md-5 fs-7 fs-md-6">This is more than a conference. This is an Iconic legacy!</p>
  <div class="d-flex flex-column flex-md-row align-items-center justify-content-center gap-3 mt-4 mb-5">
    <button class="rounded-0 btn btn-primary px-4 py-3 fw-semibold" [routerLink]="['/routePath']">PRE-REGISTER
      ONLINE</button>
    <button class="rounded-0 btn btn-outline-primary px-4 py-3 fw-semibold" [routerLink]="['/routePath']">ONLINE
      STREAM</button>
  </div>
  <div class="row g-2">
    <div class="col-lg-4 col-md-6"><img src="assets/events/event_3.jpeg" class="img-fluid rounded"></div>
    <div class="col-lg-4 col-md-6"><img src="assets/events/event_1.jpeg" class="img-fluid rounded"></div>
    <div class="col-lg-4 col-md-6"><img src="assets/events/image_8.jpeg" class="img-fluid rounded"></div>
    <div class="col-lg-4 col-md-6"><img src="assets/events/image_10.jpeg" class="img-fluid rounded"></div>
    <div class="col-lg-4 col-md-6"><img src="assets/events/event_5.jpeg" class="img-fluid rounded"></div>
    <div class="col-lg-4 col-md-6"><img src="assets/events/event_6.jpeg" class="img-fluid rounded"></div>
  </div>
  <div class="d-flex align-items-center flex-column justify-content-center mt-4 upcoming-event text-center">
    <span class="text-white fw-bold fs-6 fst-italic">THE ICONIC CONNECT CONNECTING LEADERS WORLDWIDE...</span>
  </div>
  <div class="row g-2 mt-2">
    <div class="col-lg-4 col-md-6">
      <video width="100%" controls>
        <source src="assets/videos/01.mp4" type="video/mp4">
      </video>
    </div>
    <div class="col-lg-4 col-md-6">
      <video width="100%" controls>
        <source src="assets/videos/02.mp4" type="video/mp4">
      </video>
    </div>
    <div class="col-lg-4 col-md-6">
      <video width="100%" controls>
        <source src="assets/videos/03.mp4" type="video/mp4">
      </video>
    </div>
    <div class="col-lg-4 col-md-6">
      <video width="100%" controls>
        <source src="assets/videos/04.mp4" type="video/mp4">
      </video>
    </div>
    <div class="col-lg-4 col-md-6">
      <video width="100%" controls>
        <source src="assets/videos/05.mp4" type="video/mp4">
      </video>
    </div>
    <div class="col-lg-4 col-md-6">
      <video width="100%" controls>
        <source src="assets/videos/06.mp4" type="video/mp4">
      </video>
    </div>
  </div>
</div>