<div class="col-md-10 mx-auto py-5">
    <!-- Mission Section -->
    <section>
        <div class="col-md-8 col-sm-9 mx-auto">
            <div class="col-md-12 text-center story-title">
                WE MISSION
            </div>
            <div class="separator my-3"></div>
            <p class="text-center my-3">
                The mission of the Women's Empowerment Council is to provide a supportive and empowering community for
                women at all stages of their careers in any field. Through our community, we aim to connect successful
                women and provide opportunities for networking, collaboration, and professional development.
            </p>
            <p class="text-center my-3">
                We realize this goal through solving the everyday tasks of the Women's Empowerment Council community. We
                believe that by empowering women to reach their full potential, we can create a better world for
                everyone.
            </p>
        </div>
        <div class="row my-5 pt-5">
            <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
                    class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" />

                <img src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain1.webp"
                    class="w-100 shadow-1-strong rounded mb-4" alt="Wintry Mountain Landscape" />
            </div>

            <div class="col-lg-4 mb-4 mb-lg-0">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain2.webp"
                    class="w-100 shadow-1-strong rounded mb-4" alt="Mountains in the Clouds" />

                <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
                    class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" />
            </div>

            <div class="col-lg-4 mb-4 mb-lg-0">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(18).webp"
                    class="w-100 shadow-1-strong rounded mb-4" alt="Waves at Sea" />

                <img src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain3.webp"
                    class="w-100 shadow-1-strong rounded mb-4" alt="Yosemite National Park" />
            </div>
        </div>
    </section>
</div>