<div class="col-md-10 mx-auto py-5">
    <!-- Mission Section -->
    <section>
        <div class="col-md-8 col-sm-9 mx-auto">
            <div class="col-md-12 text-center story-title">
                THE ICONIC MISSION
            </div>
            <div class="separator my-3"></div>
            <p class="text-center my-3">
                Our mission is to empower India’s most visionary leaders by creating an exclusive and sophisticated professional ecosystem Globally. We are dedicated to building India’s largest and most influential network, connecting CEOs, CXOs, entrepreneurs, and women leaders who are shaping the future. We deliver exceptional experiences—from high-level, bespoke events to unique, luxurious global retreats—all designed to facilitate powerful connections, share profound knowledge, and unlock the next generation of professional and personal opportunities. Our commitment is to provide a platform where exclusivity meets expertise, ensuring every interaction fosters meaningful growth and sets new benchmarks for professional networking and building an extraordinary community.
            </p>
        </div>
        <div class="row my-5 pt-5">
            <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                <img src="assets/mission/mission_1.jpeg"
                    class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" />

                <img src="assets/mission/image_1.jpeg"
                    class="w-100 shadow-1-strong rounded mb-4" alt="Wintry Mountain Landscape" />

                <img src="assets/mission/mission_5.jpeg"
                    class="w-100 shadow-1-strong rounded mb-4" alt="Wintry Mountain Landscape" />
            </div>

            <div class="col-lg-4 mb-4 mb-lg-0">
                <img src="assets/mission/image_5.jpeg"
                    class="w-100 shadow-1-strong rounded mb-4" alt="Mountains in the Clouds" />

                <img src="assets/mission/mission_3.jpeg" class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" />
            </div>

            <div class="col-lg-4 mb-4 mb-lg-0">
                <img src="assets/mission/mission_3.jpeg"
                    class="w-100 shadow-1-strong rounded mb-4" alt="Waves at Sea" />

                <img src="assets/mission/mission_2.jpeg"
                    class="w-100 shadow-1-strong rounded mb-4" alt="Yosemite National Park" />
            </div>
        </div>
    </section>
</div>