<!-- Mission Section -->
<div class="container py-5">
  <section>
    <div class="text-center story-title mb-3 fs-1 fs-md-2">THE ICONIC MISSION</div>
    <div class="separator my-3 mx-auto"></div>
    <p class="text-center px-2 px-md-5 fs-7 fs-md-6">Our mission is to empower India’s most visionary leaders by creating an exclusive and sophisticated professional ecosystem Globally. We are dedicated to building India’s largest and most influential network, connecting CEOs, CXOs, entrepreneurs, and women leaders who are shaping the future. We deliver exceptional experiences—from high-level, bespoke events to unique, luxurious global retreats—all designed to facilitate powerful connections, share profound knowledge, and unlock the next generation of professional and personal opportunities. Our commitment is to provide a platform where exclusivity meets expertise, ensuring every interaction fosters meaningful growth and sets new benchmarks for professional networking and building an extraordinary community.</p>
    <div class="row mt-5 g-3">
      <div class="col-lg-4 col-md-6 mb-4">
        <img src="assets/mission/mission_1.jpeg" class="img-fluid rounded shadow-sm">
        <img src="assets/mission/image_1.jpeg" class="img-fluid rounded shadow-sm mt-3">
        <img src="assets/mission/mission_5.jpeg" class="img-fluid rounded shadow-sm mt-3">
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <img src="assets/mission/image_5.jpeg" class="img-fluid rounded shadow-sm">
        <img src="assets/mission/mission_3.jpeg" class="img-fluid rounded shadow-sm mt-3">
      </div>
      <div class="col-lg-4 col-md-12 mb-4">
        <img src="assets/mission/image_7.jpeg" class="img-fluid rounded shadow-sm">
        <img src="assets/mission/mission_2.jpeg" class="img-fluid rounded shadow-sm mt-3">
      </div>
    </div>
  </section>
</div>