<div class="col-md-10 mx-auto py-5">
    <!-- Mission Section -->
    <section>
        <div class="col-md-8 col-sm-9 mx-auto">
            <div class="col-md-12 text-center story-title">
                WE PARTNERSHIP
            </div>
            <div class="separator my-3"></div>
        </div>
        <div class="d-flex align-items-center justify-content-center">
            <img src="https://img.thecompanycheck.com/companylogo/BottomHalf_Pvt_Ltd_LOGO_189b3a8d.webp" alt="" class="partner-logo">
            <img src="https://www.emstum.com/assets/images/logo.png" alt="" class="partner-logo ms-3">
        </div>
        <div class="card mt-4" style="background-color: #dedede;">
            <div class="row align-items-center justify-content-between p-5">
                <div class="col-md-7">
                    <h5 class="fw-bold">Become a partner</h5>
                    <p>Do you want to become an WE Convention conference partner? Send us a message and we will contact you to discuss the details.</p>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-primary px-5 py-3 rounded-0" [routerLink]="['/routePath']">BECOME A PARTNER</button>
                </div>
            </div>
        </div>
    </section>
</div>