.story-title {
    font-size: 3.2vw;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.separator {
    height: 4px;
    background-color: black;
}

.partner-logo {
    width: 12rem !important;
}