<div class="p-4">
    <h5>Liability</h5>
    <p class="mt-4">
        We are responsible for the contents of our internet pages according to the general laws. All
        contents are created with due diligence and to the best of our knowledge. Insofar as we refer to
        the Internet pages of third parties by means of hyperlinks on our Internet pages, we cannot
        assume any liability for the continuous topicality, correctness and completeness of the linked
        contents, since these contents lie outside our area of responsibility and we have no influence on
        the future design. If, in your opinion, any content violates applicable law or is inappropriate,
        please let us know.
    </p>
    <h5>Copyright notice </h5>
    <p>
        The texts, images, photos, videos or graphics on our website are generally subject to copyright
        protection. Any unauthorized use (in particular copying, editing or distribution) of this
        copyright-protected content is therefore prohibited. If you intend to use this content or parts
        thereof, please contact us in advance using the details above. If we are not the owner of the
        required copyright, we will make every effort to establish contact with the copyright holder.
    </p>
</div>