<div class="d-flex align-items-center justify-content-between mx-auto col-md-5 col-lg-4 flex-column py-5 my-5">
    <h1>Login in</h1>
    <div class="col-md-12 mt-3">
        <input type="email" placeholder="Email" class="form-control">
    </div>
    <button class="btn btn-primary w-100 py-2 rounded-0 my-4" [routerLink]="['/routePath']" >CONTINUE WITH EMAIL</button>
    <a href="javascript:void(0)" [routerLink]="['/routePath']">Forgot password?</a>
    <p class="mt-4 text-center">By clicking the button, you agree that The Iconic will use your details to send you the requested information and to stay in touch about events. We encourage you to read our <a href="javascript:void(0)" [routerLink]="['/routePath']">privacy policy</a></p>
</div>