<nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top shadow">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold text-primary-c fs-3" [routerLink]="['/home']">The Iconic Connect</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link fw-medium" [routerLink]="['/home']" (click)="mobileMenuOpen=false">Home</a></li>
        <li class="nav-item"><a class="nav-link fw-medium" [routerLink]="['/our-mission']" (click)="mobileMenuOpen=false">Mission</a></li>
        <li class="nav-item"><a class="nav-link fw-medium" [routerLink]="['/events']" (click)="mobileMenuOpen=false">Events</a></li>
        <li class="nav-item"><a class="nav-link fw-medium" [routerLink]="['/contactus']" (click)="mobileMenuOpen=false">Contact Us</a></li>
      </ul>
      <button class="btn btn-primary rounded-0" [routerLink]="['/login']">LOG IN</button>
    </div>
  </div>
</nav>