.sticky-top {
  top: 0px !important;
}

.active-link {
  color: #4b5894 !important;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    left: 0;
    background-color: #4b5894;
    bottom: 0;
  }
}