.hero-bg {
    background-image: url("https://wecouncil.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2FheroBackground.26644a60.jpg&w=1920&q=75");
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    height: 90vh;
}

.hero-title {
    font-size: 5vw;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}