.hero-bg {
    background-image: url("../../../assets/hero_bg.jpeg");
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    height: 90vh;
}

.hero-title {
    font-size: 5vw;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}