<div class="col-md-10 mx-auto py-5">
    <!-- Story Section -->
    <section>
        <div class="row align-items-center my-5">
            <div class="col-md-6">
                <img src="assets/profile.jpeg" style="width: 68vh; height: 77vh;" class="rounded-circle"
                    alt="">
            </div>
            <div class="col-md-6">
                <h2 class="story-title">OUR STORY</h2>
                <div class="separator"></div>
                <p class="my-3">
                   Building India’s Global largest professional network for CEO's, CHRO's, CXO's, Entrepreneurs, Startups, Business Leaders and Women Leaders.
                </p>
                <p>
                    We curate unparalleled, sophisticated <span class="fw-bold">MICE Events</span> that foster exclusive networking, provide profound insights, and unlock unique professional opportunities. Our experiences are designed to be truly exceptional, delivering a <span class="fw-bold">level of luxury and unique retreats in India and overseas, which are exclusivity that sets us apart.</span>
                </p>
                <p>
                    We create extraordinary events for all product launches, events, marketing, brand partnerships, and fundraising.
                </p>
                <h6 class="fw-bold">Amtul Ali Lubna,</h6>
                <h6 class="fw-bold">Founder and CEO of the The Iconic Connect®</h6>
            </div>
        </div>
    </section>
</div>