<div class="col-md-10 mx-auto py-5">
    <!-- Story Section -->
    <section>
        <div class="row align-items-center my-5">
            <div class="col-md-6">
                <img src="https://wecouncil.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fmala_circle.dc51648b.png&w=480&q=75"
                    alt="">
            </div>
            <div class="col-md-6">
                <h2 class="story-title">WE STORY</h2>
                <div class="separator"></div>
                <p class="my-4">
                    “The Women's Empowerment Council brings together women leaders from all over the world. Our main
                    goal is to help women achieve their full potential in their careers, businesses, and personal lives.
                    As a woman, I know from personal experience that we are capable of accomplishing even the most
                    difficult goals. We are changing the business landscape, driving innovation, and shaping a new
                    environment. We have an incredible potential that has been dormant for thousands of years, but it's
                    time for us to awaken and realize it.
                </p>
                <p>
                    The Women's Empowerment Council offers women every opportunity to do so. If we want to make a
                    difference in society, we need as many women leaders as possible. After all, women can accomplish
                    anything! Join us and let's make it happen together”.
                </p>
                <h6 class="fw-bold">Mila Smart Semeshkina,</h6>
                <h6 class="fw-bold">Founder and President of the Women's Empowerment Council®</h6>
            </div>
        </div>
    </section>
</div>