/* You can add global styles to this file, and also import other style files */
* {
  font-family: "Public Sans", "sans-serif";
}

.text-primary-c {
  color: #4b5894 !important;
}

.btn-primary {
  background-color: #4b5894 !important;
  border: #4b5894 !important;
  color: white !important;
}

.btn-primary:hover {
  background-color: #1e359c !important;
  border: #1e359c !important;
  color: white !important;
}

input::placeholder {
  color: #ccc !important;
  opacity: 1;
  /* Firefox */
}

input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ccc !important;
}

input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ccc !important;
}

select:focus,
a:focus,
input:focus {
  outline: none !important;
  border-color: 1px solid #d9d9d9 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.error-field {
  border: 1px solid red !important;
  border-right: 4px solid red !important;
}

/* Disable text selection */
* {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* Disable image dragging */
img {
  pointer-events: none;
  -webkit-user-drag: none;
}

/* Disable right-click on images */
img {
  -webkit-touch-callout: none;
}
