<!-- Footer -->
<footer class="custom-footer text-white py-5">
  <div class="container">
    <div class="row gy-4 text-center text-md-start">
      <div class="col-lg-3 col-md-6">
        <h4 class="logo">THE ICONIC CONNECT</h4>
        <p>Copyright © All Rights Reserved</p>
        <p>Hill Crest, Financial District - Gachibowli, Hyderabad - 500032</p>
      </div>
      <div class="col-lg-3 col-md-6">
        <ul class="list-unstyled">
          <li><a [routerLink]="['/home']">Home</a></li>
          <li class="mt-2"><a [routerLink]="['/our-mission']">Mission</a></li>
          <li class="mt-2"><a [routerLink]="['/events']">Events</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6">
        <ul class="list-unstyled">
          <li class="mb-2"><a [routerLink]="['/imprint']">Imprint</a></li>
          <li class="mb-2"><a [routerLink]="['/privacypolicy']">Privacy Policy</a></li>
          <li class="mb-2"><a [routerLink]="['/termandcondition']">Terms & Conditions</a></li>
          <li class="mb-2"><a [routerLink]="['/termanduse']">Terms of Use</a></li>
        </ul>
        <p>Contact: <a href="mailto:hello@theiconicconnect.com">hello&#64;theiconicconnect.com</a></p>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="d-flex flex-wrap gap-2 justify-content-center justify-content-md-start mb-3">
          <button class="btn btn-outline-light rounded-0 active">ENGLISH</button>
          <button class="btn btn-outline-light rounded-0">हिन्दी</button>
        </div>
        <div class="d-flex justify-content-center justify-content-md-start gap-3 mt-3">
          <a href="javascript:void(0)"><i class="fa-brands fa-instagram  d-flex align-items-center justify-content-center rounded rounded-circle text-center icons-box"></i></a>
          <a href="https://www.linkedin.com/company/theiconicconnect" target="_blank"><i class="fa-brands fa-linkedin-in  d-flex align-items-center justify-content-center rounded rounded-circle text-center icons-box"></i></a>
          <a href="javascript:void(0)"><i class="fa-brands fa-youtube  d-flex align-items-center justify-content-center rounded rounded-circle text-center icons-box"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>