<footer class="custom-footer text-white py-5">
  <div class="container-fluid">
    <div class="row gy-4">
      <!-- Left Column -->
      <div class="col-lg-3 col-md-6">
        <h4 class="logo">ICONIC CLUB</h4>
        <p class="mb-1">Copyright ©</p>
        <p>All Rights Reserved</p>
        <p>
          WE EVENTS DMCC, Unit No. 3403-D05, <br />
          Swiss Tower, Plot No. JLT-PH2-Y3A,<br />
          Jumeirah Lakes Towers, Dubai, UAE
        </p>
      </div>

      <!-- Middle Column - Links -->
      <div class="col-lg-3 col-md-6">
        <ul class="list-unstyled">
          <li class=""><a href="javascript:void(0)">Home</a></li>
          <li class="mt-2"><a href="javascript:void(0)">Mission</a></li>
          <li class="mt-2"><a href="javascript:void(0)">Events</a></li>
        </ul>
      </div>

      <!-- Right Middle Column - Policies and Contacts -->
      <div class="col-lg-3 col-md-6">
        <ul class="list-unstyled">
          <li class="mb-2"><a href="javascript:void(0)">Imprint</a></li>
          <li class="mb-2"><a href="javascript:void(0)">Privacy Policy</a></li>
          <li class="mb-2"><a href="javascript:void(0)">Terms & Conditions</a></li>
          <li class="mb-2"><a href="javascript:void(0)">Terms of Use</a></li>
        </ul>
        <p class="mt-3 mb-1">Contact: <a href="mailto:info@iconicclub.com">info&#64;iconicclub.com</a></p>
        <p class="mb-1">Support: <a href="mailto:support@iconicclub.com">support&#64;iconicclub.com</a></p>
        <p>For collaboration: <a href="mailto:joinus@iconicclub.com">joinus&#64;iconicclub.com</a></p>
      </div>

      <!-- Right Column - Language and Social -->
      <div class="col-lg-3 col-md-6 text-md-start text-center">
        <div class="mb-3">
          <div class="d-flex flex-wrap gap-2 justify-content-md-start justify-content-center">
            <button class="btn btn-outline-light rounded-0 active">ENGLISH</button>
            <button class="btn btn-outline-light rounded-0">हिन्दी</button>
          </div>
        </div>
        <div class="d-flex justify-content-end gap-3 mt-3">
          <a href="javascript:void(0)">
            <i class="fa-brands fa-facebook-f rounded rounded-circle text-center icons-box"></i>
          </a>
          <a href="javascript:void(0)">
            <i class="fa-brands fa-instagram rounded rounded-circle text-center icons-box"></i>
          </a>
          <a href="javascript:void(0)">
            <i class="fa-brands fa-linkedin-in rounded rounded-circle text-center icons-box"></i>
          </a>
          <a href="javascript:void(0)">
            <i class="fa-brands fa-youtube rounded rounded-circle text-center icons-box"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
