<div class="p-4">
    <h5>Terms & Conditions</h5>
    <p class="mt-4">
        These are Terms and Conditions that govern your membership with Leading The Iconic Connect along with any other services offered by us during your membership.  
    </p>
    <h5>Copyright notice </h5>
    <p>
        <span class="fw-bold">Account Membership and Details: </span> When you sign up for our membership, provide accurate and updated information about yourself. Keep your password secure, and don’t share it with others. If you notice unauthorized use of your account, let us know immediately.
    </p>
    <p>
        <span class="fw-bold">User Conduct: </span> We aim to create a positive experience for all participants. Be respectful, courteous, and supportive during all interactions within the ecosystem and at our events. 
    </p>
    <p>Treat fellow participants, speakers, and facilitators with kindness and respect.</p>
    <p>The services are for personal, non-commercial use only. You agree not to:</p>
    <ul>
        <li>Post harmful, abusive, or unlawful content</li>
        <li>Violate any laws</li>
        <li>Pretend to be someone else</li>
        <li>Send unsolicited advertisements</li>
        <li>Upload harmful software</li>
        <li>Harass or intimidate others</li>
        <li>Use someone else’s account without permission</li>
    </ul>
    <p>
        The Iconic Connect reserves the right to refuse participation or remove individuals from events who do not adhere to this standard without any legal and financial liability. 
    </p>
    <p>
        If we find you violating these rules, we may suspend your membership at our discretion.
    </p>
    <p><span class="fw-bold">Ownership and Copyright: </span> All content on the website and any other platform, such as text, graphics, and images, belongs to The Iconic Connect or its licensors. You cannot copy or distribute any content without our permission. Anything you upload becomes our property, and we can decide how to use it.</p>
    <p><span class="fw-bold">Security: </span> We take steps to protect your information, but no online transmission is completely secure. You share your information at your own risk, and we will try our best to keep it safe.</p>
    <p><span class="fw-bold">Jurisdiction: </span> Any legal disputes will be handled under Indian law, specifically in Hyderabad courts. If there’s a legal issue, we expect you to reach out for a resolution first before going to court.</p>
    <p><span class="fw-bold">Changes to Terms: </span> We may update these Terms and Conditions from time to time. Any changes will be posted on this page. Continuing to use our services means you accept the new terms. We encourage you to check back periodically for updates.</p>
    <p><span class="fw-bold">Need Help?: </span> If you have any questions or need assistance, please don’t hesitate to contact us at e. We’re here to help!.</p>
    <p>We are grateful for your continued support and for being a part of The Iconic Connect. Let’s empower each other to achieve greatness!</p>

</div>